<p><%= @current_user.name %></p>
<p><%= link_to("#{@current_user.id}", "/friend/fix") %><img src="<%= "/user_images/#{@current_user.image_name}" %>" id="img_size"></p>
<%= link_to("友達追加", "/friend/add") %>

<p>知り合いかも</p>
<% @maybefriends.each do |mfriend| %>
    <div id="mfriends">
        <%= render "mfriend", mfriend: mfriend %>
    </div>
<% end %>

<p>グループ</p>

<p>友達</p>
<% @friends.each do |friend| %>
    <div id="friends">
        <%= render "friend", friend: friend %>
    </div>
<% end %>

