<!DOCTYPE html>
<html>
  <head>
    <title>LINE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div id="flash_welcome">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= link_to("友達", "/rooms/friends") %><%= link_to("トーク", "/rooms/talks") %>
    <%= yield %>
  </body>
</html>
